* {
  font-family: "Roboto";
}

body {
  background-color: #B9EEDB;
}

header {
  text-align: center;
  margin: auto 0;
}

main {
  text-align: center;
  margin: auto 0;
}

h1 {
  font-size: 218%;
}

.description {
  text-align: center;
  
}

.section {

}
.lemons {
  width: 350px;
  
}

.posterbox {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.poster {
  width: 150px;
}

.currentposter {
  width: 350px;
  
}